
body {
    display: block;
    margin: 0;
    overflow-wrap: break-word;
}

.grid-container {

    display: grid;
    grid-template-columns: 300px  auto 350px;
    grid-template-rows: auto;
    grid-gap: 0px;
    grid-template-areas:
        "A B C";

}

.grid-item {
    padding: 15px;
    text-align: center;

}

.cut {
    border: 1px solid gray;
}

.first {
    grid-area: A;
    border: 1px solid gray;
}

.end {
    grid-area: C;
    border: 1px solid gray;
}

.mid {
    grid-area: B;
    border: 1px solid gray;
    grid-gap: 10px;
}


